<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>org.glassfish.jersey.servlet.ServletContainer</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.glassfish.jersey.servlet.ServletContainer</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>nl.earnit.filters.RedirectFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error/403.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>

    <error-page>
        <error-code>501</error-code>
        <location>/error/501.html</location>
    </error-page>
</web-app>